<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/header.css">
</head>
<body>
    <div class="SearchBox-Container">
        <div class="SearchBox-wrapper">
            <div class="SearchHeader">
                <div class="SearchHeader-input">
                    <form action="post" class="SearchHeader-form">
                        <!-- TODO -->
                        <!-- form 안에 구조 확인하고 넣기 -->
                    </form>
                </div>
                <button></button>
            </div>
        </div>
    </div>
    <div class="Header-Layout">
        <div class="Header-Container">
            <div class="Header-UpperContent">
                <div class="UpperContent-LeftContent">
                    <!-- 나중에 경로 변경 -->
                    <div class="LeftContent-logo">
                        <img src="../../static/images/haetsal-jangteo-logo.svg" alt="햇살장터 로고">
                    </div>
                    <div class="LeftContent-searchbar-container">
                        <input placeholder="검색할 상품을 입력해주세요" class="LeftContent-searchbar-input">
                        <div class="LeftContent-searchbar-iconwrap">
                            <svg class="LeftContent-searchbar-icon" width="76" height="76" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="icon_etc"><path id="Union" fill-rule="evenodd" clip-rule="evenodd" d="M51.0342 53.8224C46.7715 56.9358 41.4329 58.6738 35.7196 58.4076C22.5649 57.7946 12.4051 46.7891 13.0271 33.8261C13.6491 20.863 24.8173 10.8513 37.972 11.4642C51.1267 12.0771 61.2865 23.0826 60.6645 36.0457C60.3992 41.5749 58.2152 46.5672 54.7768 50.427L66.125 62.7573L62.3569 66.125L51.0342 53.8224ZM55.2656 35.7941C54.7846 45.8189 46.1478 53.5613 35.9749 53.0873C25.8019 52.6133 17.945 44.1024 18.426 34.0776C18.907 24.0529 27.5438 16.3105 37.7168 16.7845C47.8897 17.2585 55.7466 25.7694 55.2656 35.7941Z" fill="#E4E4E4"></path></g></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Header-BottomContent"></div>
        </div>
    </div>
</body>
</html>