*, :after, :before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}

body {
    line-height: inherit;
    margin: 0;
}

a, div {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

/* 검색 부분 */


/* 헤더 부분 */
.Header-Layout {
    padding: 0px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(255, 255, 255);
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 300;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 6px;
}

.Header-Container {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

.Header-UpperContent {
    max-width: 1160px;
    padding: 10px 0px;
    position: relative;
    display: flex;
    width: 100%;
    max-height: 72px;
    justify-content: space-between;
}

.UpperContent-LeftContent {
    display: flex;
    align-items: center;
    gap: 20px;
}

.LeftContent-logo {
    cursor: pointer;
}

.LeftContent-logo img {
    width: 122px;
    height: 32px;
    object-fit: cover;
}

.LeftContent-searchbar-container {
    width: 258px;
    z-index: 300;
    position: relative;
    padding: 6px 12px 6px 16px;
    height: 36px;
    display: flex;
    border-radius: 8px;
    background: rgb(240, 240, 240);
}

.LeftContent-searchbar-input {
    width: 100%;
    border: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 150%;
    background: rgb(240, 240, 240);
    color: rgb(158, 158, 158);
    outline: none; 
}