@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: Pretendard;
    src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css') format('font-woff2');
}

html {
    scrollbar-gutter: stable;
    line-height: 1.5;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-variation-settings: normal;
}

body {
    font-family: "Pretendard";
}

main {
    background-color: white;
}

img {
    width: 25px;
    height: 25px;
}

*,
:after,
:before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}

.container {
    max-width: 1160px;
    margin: 0px auto;
    box-sizing: border-box;
    width: 100%;
}

.category-container {
    max-width: 1160px;
    width: 100%;
    position: relative;
    align-items: center;
    padding: 20px 0px;
    margin-bottom: 40px;
}

.region-list {
    padding: 0px 0px;
    display: flex;
    max-width: 1160px;
    width: 100%;
    gap: 8px;
}

.category-each-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 0px 3px;
    cursor: pointer;
    width: 64px;
    margin-right: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 16px;
    transition: all 0.2s;
}

.category-each-box:hover {
    background-color: #FFB74D;
    border-color: #FFB74D;
}

.selected {
    background-color: blanchedalmond;
    border-color: blanchedalmond;
}

.selected> :nth-child(2)> :nth-child(1) {
    font-weight: 600;
    font-size: 14px;
}

.region-text {
    margin-top: 1px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    font-size: 13px;
    color: rgb(61, 61, 61);
}

.name-arrow-box {
    display: flex;
    gap: 0px;
    align-items: center;
}

.tab-name {
    font-size: 14px;
    font-weight: 500;
}

.tab-arrow {
    font-size: 10px;
    color: #8c8c8c;
    margin-left: 4px;
}

.divider-wrapper {
    margin: 0px auto;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.divider {
    padding: 0px 1%;
    margin: 0px 0px 30px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
}

.selected-region-in-divider {
    display: flex;
    font-weight: bold;
    font-size: 26px;
    font-family: inherit;
    color: #37474F;
    padding: 0px 0px 20px;
}

.count-orderby-button-box {
    display: flex;
    position: relative;
}

.market-count span {
    font-size: 13px;
    font-weight: 600;
    font-family: inherit;
    color: #37474F;    
}

.orderby {
    position: absolute;
}