@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: Pretendard;
    src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css') format('font-woff2');
}

html {
    scrollbar-gutter: stable;
    line-height: 1.5;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-variation-settings: normal;
    overflow-y: scroll;
}

body {
    font-family: inherit;
}

main {
    background-color: white;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    cursor: pointer;
}

.region-icon img {
    width: 25px;
    height: 25px;
}

*,
:after,
:before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}

.container {
    max-width: 1160px;
    margin: 0px auto;
    box-sizing: border-box;
    width: 100%;
}

.category-container {
    max-width: 1160px;
    width: 100%;
    position: relative;
    padding: 20px 0px;
    margin-bottom: 10px;
}

.region-list {
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 1160px;
    width: 100%;
    gap: 10px;
}

.category-each-box {
    min-width: 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 0px 3px;
    cursor: pointer;
    width: 63px;
    border: 1px solid #e4e4e4;
    border-radius: 16px;
    transition: all 0.3s 0s;
}

.category-each-box:hover {
    background-color: #FFB74D;
    border-color: #FFB74D;
}

.selected {
    background-color: blanchedalmond;
    border-color: blanchedalmond;
    font-weight: 600;
    font-size: 14px;
}

.selected> :nth-child(2)> :nth-child(1) {
    font-weight: 600;
    font-size: 14px;
}

.region-text {
    margin-top: 1px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    font-size: 13px;
    color: rgb(61, 61, 61);
}

.name-arrow-box {
    display: flex;
    gap: 0px;
    align-items: center;
}

.tab-name {
    font-size: 14px;
    font-weight: 500;
}

.tab-arrow {
    font-size: 10px;
    color: #8c8c8c;
    margin-left: 4px;
}

.divider-wrapper {
    margin: 0px auto;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.divider {
    padding: 0px 1%;
    margin: 0px 0px 10px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
}

.selected-region-in-divider {
    display: flex;
    font-weight: bold;
    font-size: 26px;
    font-family: inherit;
    color: #37474F;
    padding: 0px 0px 20px;
}

.count-orderby-button-box {
    display: flex;
    position: relative;
}

.market-count span {
    font-size: 13px;
    font-weight: 600;
    font-family: inherit;
    color: #37474F;    
}

.orderby {
    display: flex;
    width: 70px;
    height: 27px;
    padding: 7px 5px;
    position: absolute;
    right: 0px;
    bottom: -18px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.orderby div {
    font-size: 14px;
    font-weight: bold;
}

.market-category-wrapper {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.market-category-wrapper div {
    min-width: 66px;
    height: 25px;
    width: 70px;
    margin-top: 20px;
    font-size: 13px;
    text-align: center;
    text-justify: center;
}

.page-wrapper {
    width: 100%;
    display: flex;
    margin: 0px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.market-card-wrapper {
    min-width: 136px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s 0s;
    padding: 20px 10px 5px;
    width: 25%;
}


.market-card {
    transition: all 0.2s 0s;
}

.market-card:hover {
    transform: translateY(-6px)
}

.card-image {
    position: relative;
}

.card-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.like-button {
    position: absolute;
    width: 35px;
    height: 35px;
    bottom: 7px;
    right: 2px;
    z-index: 10;
}

.card-info {
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
    justify-content: flex-start;
    gap: 6px;
}

.card-market-category {
    font-size: 12px;
    color: #FF6F00;
    font-weight: 600;
}

.card-market-name {
    font-size: 14px;
    font-weight: 700;
    color: #1c1c1c;
    line-height: 1.3;
}

.card-description {
    font-size: 13px;
    height: 58.5px;
    color: #757575;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-info-line {
    margin: 7px 0px;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
}

.card-guide {
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.guide-location, .guide-hour {
    display: flex;
    gap: 40px;
    margin: 2px 0px;
}

.location, .hours {
    width: 80px;
    color: #757575;
}

.market-location, .card-business-hour {
    color: #1c1c1c;
    font-size: 13px;
}