<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/market-list.css">
</head>

<body>
    <!-- 나중에헤더 복붙 -->

    <main>
        <!-- 메인 전체화면 -->
        <div class="container">
            <div class="category-container">
                <div class="region-list">
                    <div class="category-each-box">
                        <!-- 전체지역, 누르면 전체시장 목록 페이지 -->
                        <div class="region-icon">
                            <img src="../static/images/region/Korea_Map.svg.png">
                        </div>
                        <div class="region-text">전체</div>
                    </div>
                    <!-- 서울 -->
                    <div class="category-each-box selected">
                        <div class="region-icon seoul">
                            <img src="../static/images/region/seoul.svg">
                        </div>
                        <div class="name-arrow-box">
                            <div class="region-text">서울</div>
                            <div class="tab-arrow">▼</div>
                        </div>
                        <!-- <div class="tab-button">
                            <div class="dropdown-market all-seoul">전체보기</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                        </div> -->
                    </div>

                    <!-- 경기도 -->
                    <div class="category-each-box">
                        <div class="region-icon gyeonggi">
                            <img src="../static/images/region/gyeonggi.svg">
                        </div>
                        <div class="name-arrow-box">
                            <div class="region-text">경기</div>
                            <div class="tab-arrow">▼</div>
                        </div>
                        <!-- <div class="tab-button">
                            <div class="dropdown-market all-seoul">전체보기</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                        </div> -->
                    </div>

                    <!-- 인천 -->
                    <div class="category-each-box">
                        <div class="region-icon incheon">
                            <img src="../static/images/region/incheon.svg">
                        </div>
                        <div class="name-arrow-box">
                            <div class="region-text">인천</div>
                            <div class="tab-arrow">▼</div>
                        </div>
                        <!-- <div class="tab-button">
                            <div class="dropdown-market all-seoul">전체보기</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                        </div> -->
                    </div>

                    <!-- 강원 -->
                    <div class="category-each-box">
                        <div class="region-icon gangwon">
                            <img src="../static/images/region/gangwon.svg">
                        </div>
                        <div class="name-arrow-box">
                            <div class="region-text">강원</div>
                            <div class="tab-arrow">▼</div>
                        </div>
                        <!-- <div class="tab-button">
                            <div class="dropdown-market all-seoul">전체보기</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                        </div> -->
                    </div>

                    <!-- 충북 -->
                    <div class="category-each-box">
                        <div class="region-icon chungbuk">
                            <img src="../static/images/region/chungbuk.svg">
                        </div>
                        <div class="name-arrow-box">
                            <div class="region-text">충북</div>
                            <div class="tab-arrow">▼</div>
                        </div>
                        <!-- <div class="tab-button">
                            <div class="dropdown-market all-seoul">전체보기</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                        </div> -->
                    </div>
                    <!-- 충남 -->
                    <div class="category-each-box">
                        <div class="region-icon chungnam">
                            <img src="../static/images/region/chungnam.svg">
                        </div>
                        <div class="name-arrow-box">
                            <div class="region-text">충남</div>
                            <div class="tab-arrow">▼</div>
                        </div>
                        <!-- <div class="tab-button">
                            <div class="dropdown-market all-seoul">전체보기</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                        </div> -->
                    </div>
                    <!-- 대전 -->
                    <div class="category-each-box">
                        <div class="region-icon daejeon">
                            <img src="../static/images/region/daejeon.svg">
                        </div>
                        <div class="name-arrow-box">
                            <div class="region-text">대전</div>
                            <div class="tab-arrow">▼</div>
                        </div>
                        <!-- <div class="tab-button">
                            <div class="dropdown-market all-seoul">전체보기</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                        </div> -->
                    </div>
                    <!-- 경북 -->
                    <div class="category-each-box">
                        <div class="region-icon gyeongbuk">
                            <img src="../static/images/region/gyeongbuk.svg">
                        </div>
                        <div class="name-arrow-box">
                            <div class="region-text">경북</div>
                            <div class="tab-arrow">▼</div>
                        </div>
                        <!-- <div class="tab-button">
                            <div class="dropdown-market all-seoul">전체보기</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                        </div> -->
                    </div>
                    <!-- 경남 -->
                    <div class="category-each-box">
                        <div class="region-icon gyeongnam">
                            <img src="../static/images/region/gyeongnam.svg">
                        </div>
                        <div class="name-arrow-box">
                            <div class="region-text">경남</div>
                            <div class="tab-arrow">▼</div>
                        </div>
                        <!-- <div class="tab-button">
                            <div class="dropdown-market all-seoul">전체보기</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                        </div> -->
                    </div>
                    <!-- 부산 -->
                    <div class="category-each-box">
                        <div class="region-icon busan">
                            <img src="../static/images/region/busan.svg">
                        </div>
                        <div class="name-arrow-box">
                            <div class="region-text">부산</div>
                            <div class="tab-arrow">▼</div>
                        </div>
                        <!-- <div class="tab-button">
                            <div class="dropdown-market all-seoul">전체보기</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                        </div> -->
                    </div>
                    <!-- 울산 -->
                    <div class="category-each-box">
                        <div class="region-icon ulsan">
                            <img src="../static/images/region/ulsan.svg">
                        </div>
                        <div class="name-arrow-box">
                            <div class="region-text">울산</div>
                            <div class="tab-arrow">▼</div>
                        </div>
                        <!-- <div class="tab-button">
                            <div class="dropdown-market all-seoul">전체보기</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                        </div> -->
                    </div>
                    <!-- 대구 -->
                    <div class="category-each-box">
                        <div class="region-icon daegu">
                            <img src="../static/images/region/daegu.svg">
                        </div>
                        <div class="name-arrow-box">
                            <div class="region-text">대구</div>
                            <div class="tab-arrow">▼</div>
                        </div>
                        <!-- <div class="tab-button">
                            <div class="dropdown-market all-seoul">전체보기</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                        </div> -->
                    </div>
                    <!-- 전북 -->
                    <div class="category-each-box">
                        <div class="region-icon jeonbuk">
                            <img src="../static/images/region/jeonbuk.svg">
                        </div>
                        <div class="name-arrow-box">
                            <div class="region-text">전북</div>
                            <div class="tab-arrow">▼</div>
                        </div>
                        <!-- <div class="tab-button">
                            <div class="dropdown-market all-seoul">전체보기</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                        </div> -->
                    </div>
                    <!-- 전남 -->
                    <div class="category-each-box">
                        <div class="region-icon jeonnam">
                            <img src="../static/images/region/jeonnam.svg">
                        </div>
                        <div class="name-arrow-box">
                            <div class="region-text">전남</div>
                            <div class="tab-arrow">▼</div>
                        </div>
                        <!-- <div class="tab-button">
                            <div class="dropdown-market all-seoul">전체보기</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                        </div> -->
                    </div>
                    <!-- 광주 -->
                    <div class="category-each-box">
                        <div class="region-icon gwangju">
                            <img src="../static/images/region/gwangju.svg">
                        </div>
                        <div class="name-arrow-box">
                            <div class="region-text">광주</div>
                            <div class="tab-arrow">▼</div>
                        </div>
                        <!-- <div class="tab-button">
                            <div class="dropdown-market all-seoul">전체보기</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                        </div> -->
                    </div>
                    <!-- 제주 -->
                    <!-- <div class="category-tab">
                        <div class="tab-header seoul">
                            <div class="tab-name">제주</div>
                            <div class="tab-arrow">▼</div>
                        </div>
                        <div class="tab-button">
                            <div class="dropdown-market all-seoul">전체보기</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                            <div class="dropdown-market">무슨시장</div>
                        </div>
                    </div> -->


                </div>
            </div>
            <!-- 지역별 버튼 아래부터 -->
            <div class="page-container">
                <!-- 지역이름과 장터개수 -->
                <div class="divider-wrapper">
                    <div class="divider">
                        <div class="selected-region-in-divider">서울시</div>
                        <div class="count-orderby-button-box">
                            <div class="market-count">
                                <span>ㅇㅇ(등록)개의 장터가 있습니다.</span>
                            </div>
                            <!-- 우측에 있는 정렬 -->
                            <div class="orderby">
                                <div class="orderby-text">추천순</div>
                                <div class="tab-arrow">▼</div>
                            </div>
                        </div>
                        <!-- 축산,농산 등등 분류 -->
                        <div class="market-category-wrapper">
                            <div class="category-each-box market-all selected">전체보기</div>
                            <div class="category-each-box chooksan">축산물</div>
                            <div class="category-each-box nongsan">농산물</div>
                            <div class="category-each-box soosan">수산물</div>
                            <div class="category-each-box banchan">반찬.장류</div>
                            <div class="category-each-box gagong">가공식품</div>
                            <div class="category-each-box geongang">건강식품</div>
                            <div class="category-each-box saenghwal">생활용품</div>
                            <div class="category-each-box joobang">주방용품</div>
                            <div class="category-each-box gajeon">가전</div>
                            <div class="category-each-box teukbyeol">특별관</div>
                        </div>
                    </div>
                </div>
                <!-- 카드들 모음(시장들 목록) -->
                <div class="page-wrapper">
                    <!-- 시장 하나의 카드 -->
                    <div class="market-card-wrapper">
                        <a href="https://www.naver.com" class="market-card">
                            <div class="card-image">
                                <img src="../static/images/market/gwangjang.png">
                                <button class="like-button">
                                    <img src="../static/images/like/like.svg">
                                </button>
                            </div>
                            <!-- 이미지 아래에 정보 -->
                             <!-- 카테고리, 이름, 간단설명, 줄 긋고, 위치, 영업시간 -->
                            <div class="card-info">
                                <div class="card-market-category">농산물</div>
                                <div class="card-market-name">광장시장</div>
                                <div class="card-description">서울의 ~~입니다. ~~를 판매합니다.ddddddddddddddddddddddddd</div>
                                <div class="card-info-line"></div>
                                <div class="card-guide">
                                    <div class="guide-location">
                                        <div class="location">위치</div>
                                        <div class="market-location">서울 종로구</div>
                                    </div>
                                    <div class="guide-hour">
                                        <div class="hours">영업시간</div>
                                        <div class="card-business-hour">09:00 - 20:00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="market-card-wrapper">
                        <a href="https://www.naver.com" class="market-card">
                            <div class="card-image">
                                <img src="../static/images/market/gwangjang.png">
                                <button class="like-button">
                                    <img src="../static/images/like/like.svg">
                                </button>
                            </div>
                            <!-- 이미지 아래에 정보 -->
                             <!-- 카테고리, 이름, 간단설명, 줄 긋고, 위치, 영업시간 -->
                            <div class="card-info">
                                <div class="card-market-category">농산물</div>
                                <div class="card-market-name">광장시장</div>
                                <div class="card-description">서울의 ~~입니다. ~~를 판매합니다.ddddddddddddddddddddddddd</div>
                                <div class="card-info-line"></div>
                                <div class="card-guide">
                                    <div class="guide-location">
                                        <div class="location">위치</div>
                                        <div class="market-location">서울 종로구</div>
                                    </div>
                                    <div class="guide-hour">
                                        <div class="hours">영업시간</div>
                                        <div class="card-business-hour">09:00 - 20:00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="market-card-wrapper">
                        <a href="https://www.naver.com" class="market-card">
                            <div class="card-image">
                                <img src="../static/images/market/gwangjang.png">
                                <button class="like-button">
                                    <img src="../static/images/like/like.svg">
                                </button>
                            </div>
                            <!-- 이미지 아래에 정보 -->
                             <!-- 카테고리, 이름, 간단설명, 줄 긋고, 위치, 영업시간 -->
                            <div class="card-info">
                                <div class="card-market-category">농산물</div>
                                <div class="card-market-name">광장시장</div>
                                <div class="card-description">dddddddddddddddddddddddddddddddddddddddd서울의 ~~입니다. ~~를 판매합니다.ddddddddddddddddddddddddd</div>
                                <div class="card-info-line"></div>
                                <div class="card-guide">
                                    <div class="guide-location">
                                        <div class="location">위치</div>
                                        <div class="market-location">서울 종로구</div>
                                    </div>
                                    <div class="guide-hour">
                                        <div class="hours">영업시간</div>
                                        <div class="card-business-hour">09:00 - 20:00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="market-card-wrapper">
                        <a href="https://www.naver.com" class="market-card">
                            <div class="card-image">
                                <img src="../static/images/market/gwangjang.png">
                                <button class="like-button">
                                    <img src="../static/images/like/like.svg">
                                </button>
                            </div>
                            <!-- 이미지 아래에 정보 -->
                             <!-- 카테고리, 이름, 간단설명, 줄 긋고, 위치, 영업시간 -->
                            <div class="card-info">
                                <div class="card-market-category">농산물</div>
                                <div class="card-market-name">광장시장</div>
                                <div class="card-description">서울의 ~~입니다.</div>
                                <div class="card-info-line"></div>
                                <div class="card-guide">
                                    <div class="guide-location">
                                        <div class="location">위치</div>
                                        <div class="market-location">서울 종로구</div>
                                    </div>
                                    <div class="guide-hour">
                                        <div class="hours">영업시간</div>
                                        <div class="card-business-hour">09:00 - 20:00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="market-card-wrapper">
                        <a href="https://www.naver.com" class="market-card">
                            <div class="card-image">
                                <img src="../static/images/market/gwangjang.png">
                                <button class="like-button">
                                    <img src="../static/images/like/like.svg">
                                </button>
                            </div>
                            <!-- 이미지 아래에 정보 -->
                             <!-- 카테고리, 이름, 간단설명, 줄 긋고, 위치, 영업시간 -->
                            <div class="card-info">
                                <div class="card-market-category">농산물</div>
                                <div class="card-market-name">광장시장</div>
                                <div class="card-description">서울의 ~~입니다.</div>
                                <div class="card-info-line"></div>
                                <div class="card-guide">
                                    <div class="guide-location">
                                        <div class="location">위치</div>
                                        <div class="market-location">서울 종로구</div>
                                    </div>
                                    <div class="guide-hour">
                                        <div class="hours">영업시간</div>
                                        <div class="card-business-hour">09:00 - 20:00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="market-card-wrapper">
                        <a href="https://www.naver.com" class="market-card">
                            <div class="card-image">
                                <img src="../static/images/market/gwangjang.png">
                                <button class="like-button">
                                    <img src="../static/images/like/like.svg">
                                </button>
                            </div>
                            <!-- 이미지 아래에 정보 -->
                             <!-- 카테고리, 이름, 간단설명, 줄 긋고, 위치, 영업시간 -->
                            <div class="card-info">
                                <div class="card-market-category">농산물</div>
                                <div class="card-market-name">광장시장</div>
                                <div class="card-description">서울의 ~~입니다.</div>
                                <div class="card-info-line"></div>
                                <div class="card-guide">
                                    <div class="guide-location">
                                        <div class="location">위치</div>
                                        <div class="market-location">서울 종로구</div>
                                    </div>
                                    <div class="guide-hour">
                                        <div class="hours">영업시간</div>
                                        <div class="card-business-hour">09:00 - 20:00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="market-card-wrapper">
                        <a href="https://www.naver.com" class="market-card">
                            <div class="card-image">
                                <img src="../static/images/market/gwangjang.png">
                                <button class="like-button">
                                    <img src="../static/images/like/like.svg">
                                </button>
                            </div>
                            <!-- 이미지 아래에 정보 -->
                             <!-- 카테고리, 이름, 간단설명, 줄 긋고, 위치, 영업시간 -->
                            <div class="card-info">
                                <div class="card-market-category">농산물</div>
                                <div class="card-market-name">광장시장</div>
                                <div class="card-description">서울의 ~~입니다.</div>
                                <div class="card-info-line"></div>
                                <div class="card-guide">
                                    <div class="guide-location">
                                        <div class="location">위치</div>
                                        <div class="market-location">서울 종로구</div>
                                    </div>
                                    <div class="guide-hour">
                                        <div class="hours">영업시간</div>
                                        <div class="card-business-hour">09:00 - 20:00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="market-card-wrapper">
                        <a href="https://www.naver.com" class="market-card">
                            <div class="card-image">
                                <img src="../static/images/market/gwangjang.png">
                                <button class="like-button">
                                    <img src="../static/images/like/like.svg">
                                </button>
                            </div>
                            <!-- 이미지 아래에 정보 -->
                             <!-- 카테고리, 이름, 간단설명, 줄 긋고, 위치, 영업시간 -->
                            <div class="card-info">
                                <div class="card-market-category">농산물</div>
                                <div class="card-market-name">광장시장</div>
                                <div class="card-description">서울의 ~~입니다.</div>
                                <div class="card-info-line"></div>
                                <div class="card-guide">
                                    <div class="guide-location">
                                        <div class="location">위치</div>
                                        <div class="market-location">서울 종로구</div>
                                    </div>
                                    <div class="guide-hour">
                                        <div class="hours">영업시간</div>
                                        <div class="card-business-hour">09:00 - 20:00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="market-card-wrapper">
                        <a href="https://www.naver.com" class="market-card">
                            <div class="card-image">
                                <img src="../static/images/market/gwangjang.png">
                                <button class="like-button">
                                    <img src="../static/images/like/like.svg">
                                </button>
                            </div>
                            <!-- 이미지 아래에 정보 -->
                             <!-- 카테고리, 이름, 간단설명, 줄 긋고, 위치, 영업시간 -->
                            <div class="card-info">
                                <div class="card-market-category">농산물</div>
                                <div class="card-market-name">광장시장</div>
                                <div class="card-description">서울의 ~~입니다.</div>
                                <div class="card-info-line"></div>
                                <div class="card-guide">
                                    <div class="guide-location">
                                        <div class="location">위치</div>
                                        <div class="market-location">서울 종로구</div>
                                    </div>
                                    <div class="guide-hour">
                                        <div class="hours">영업시간</div>
                                        <div class="card-business-hour">09:00 - 20:00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="market-card-wrapper">
                        <a href="https://www.naver.com" class="market-card">
                            <div class="card-image">
                                <img src="../static/images/market/gwangjang.png">
                                <button class="like-button">
                                    <img src="../static/images/like/like.svg">
                                </button>
                            </div>
                            <!-- 이미지 아래에 정보 -->
                             <!-- 카테고리, 이름, 간단설명, 줄 긋고, 위치, 영업시간 -->
                            <div class="card-info">
                                <div class="card-market-category">농산물</div>
                                <div class="card-market-name">광장시장</div>
                                <div class="card-description">서울의 ~~입니다. ~~를 판매합니다.ddddddddddddddddddddddddd</div>
                                <div class="card-info-line"></div>
                                <div class="card-guide">
                                    <div class="guide-location">
                                        <div class="location">위치</div>
                                        <div class="market-location">서울 종로구</div>
                                    </div>
                                    <div class="guide-hour">
                                        <div class="hours">영업시간</div>
                                        <div class="card-business-hour">09:00 - 20:00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="market-card-wrapper">
                        <a href="https://www.naver.com" class="market-card">
                            <div class="card-image">
                                <img src="../static/images/market/gwangjang.png">
                                <button class="like-button">
                                    <img src="../static/images/like/like.svg">
                                </button>
                            </div>
                            <!-- 이미지 아래에 정보 -->
                             <!-- 카테고리, 이름, 간단설명, 줄 긋고, 위치, 영업시간 -->
                            <div class="card-info">
                                <div class="card-market-category">농산물</div>
                                <div class="card-market-name">광장시장</div>
                                <div class="card-description">서울의 ~~입니다. ~~를 판매합니다.ddddddddddddddddddddddddd</div>
                                <div class="card-info-line"></div>
                                <div class="card-guide">
                                    <div class="guide-location">
                                        <div class="location">위치</div>
                                        <div class="market-location">서울 종로구</div>
                                    </div>
                                    <div class="guide-hour">
                                        <div class="hours">영업시간</div>
                                        <div class="card-business-hour">09:00 - 20:00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="market-card-wrapper">
                        <a href="https://www.naver.com" class="market-card">
                            <div class="card-image">
                                <img src="../static/images/market/gwangjang.png">
                                <button class="like-button">
                                    <img src="../static/images/like/like.svg">
                                </button>
                            </div>
                            <!-- 이미지 아래에 정보 -->
                             <!-- 카테고리, 이름, 간단설명, 줄 긋고, 위치, 영업시간 -->
                            <div class="card-info">
                                <div class="card-market-category">농산물</div>
                                <div class="card-market-name">광장시장</div>
                                <div class="card-description">서울의 ~~입니다. ~~를 판매합니다.ddddddddddddddddddddddddd</div>
                                <div class="card-info-line"></div>
                                <div class="card-guide">
                                    <div class="guide-location">
                                        <div class="location">위치</div>
                                        <div class="market-location">서울 종로구</div>
                                    </div>
                                    <div class="guide-hour">
                                        <div class="hours">영업시간</div>
                                        <div class="card-business-hour">09:00 - 20:00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="market-card-wrapper">
                        <a href="https://www.naver.com" class="market-card">
                            <div class="card-image">
                                <img src="../static/images/market/gwangjang.png">
                                <button class="like-button">
                                    <img src="../static/images/like/like.svg">
                                </button>
                            </div>
                            <!-- 이미지 아래에 정보 -->
                             <!-- 카테고리, 이름, 간단설명, 줄 긋고, 위치, 영업시간 -->
                            <div class="card-info">
                                <div class="card-market-category">농산물</div>
                                <div class="card-market-name">광장시장</div>
                                <div class="card-description">서울의 ~~입니다. ~~를 판매합니다.ddddddddddddddddddddddddd</div>
                                <div class="card-info-line"></div>
                                <div class="card-guide">
                                    <div class="guide-location">
                                        <div class="location">위치</div>
                                        <div class="market-location">서울 종로구</div>
                                    </div>
                                    <div class="guide-hour">
                                        <div class="hours">영업시간</div>
                                        <div class="card-business-hour">09:00 - 20:00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="market-card-wrapper">
                        <a href="https://www.naver.com" class="market-card">
                            <div class="card-image">
                                <img src="../static/images/market/gwangjang.png">
                                <button class="like-button">
                                    <img src="../static/images/like/like.svg">
                                </button>
                            </div>
                            <!-- 이미지 아래에 정보 -->
                             <!-- 카테고리, 이름, 간단설명, 줄 긋고, 위치, 영업시간 -->
                            <div class="card-info">
                                <div class="card-market-category">농산물</div>
                                <div class="card-market-name">광장시장</div>
                                <div class="card-description">서울의 ~~입니다. ~~를 판매합니다.ddddddddddddddddddddddddd</div>
                                <div class="card-info-line"></div>
                                <div class="card-guide">
                                    <div class="guide-location">
                                        <div class="location">위치</div>
                                        <div class="market-location">서울 종로구</div>
                                    </div>
                                    <div class="guide-hour">
                                        <div class="hours">영업시간</div>
                                        <div class="card-business-hour">09:00 - 20:00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="market-card-wrapper">
                        <a href="https://www.naver.com" class="market-card">
                            <div class="card-image">
                                <img src="../static/images/market/gwangjang.png">
                                <button class="like-button">
                                    <img src="../static/images/like/like.svg">
                                </button>
                            </div>
                            <!-- 이미지 아래에 정보 -->
                             <!-- 카테고리, 이름, 간단설명, 줄 긋고, 위치, 영업시간 -->
                            <div class="card-info">
                                <div class="card-market-category">농산물</div>
                                <div class="card-market-name">광장시장</div>
                                <div class="card-description">서울의 ~~입니다. ~~를 판매합니다.ddddddddddddddddddddddddd</div>
                                <div class="card-info-line"></div>
                                <div class="card-guide">
                                    <div class="guide-location">
                                        <div class="location">위치</div>
                                        <div class="market-location">서울 종로구</div>
                                    </div>
                                    <div class="guide-hour">
                                        <div class="hours">영업시간</div>
                                        <div class="card-business-hour">09:00 - 20:00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="market-card-wrapper">
                        <a href="https://www.naver.com" class="market-card">
                            <div class="card-image">
                                <img src="../static/images/market/gwangjang.png">
                                <button class="like-button">
                                    <img src="../static/images/like/like.svg">
                                </button>
                            </div>
                            <!-- 이미지 아래에 정보 -->
                             <!-- 카테고리, 이름, 간단설명, 줄 긋고, 위치, 영업시간 -->
                            <div class="card-info">
                                <div class="card-market-category">농산물</div>
                                <div class="card-market-name">광장시장</div>
                                <div class="card-description">서울의 ~~입니다. ~~를 판매합니다.ddddddddddddddddddddddddd</div>
                                <div class="card-info-line"></div>
                                <div class="card-guide">
                                    <div class="guide-location">
                                        <div class="location">위치</div>
                                        <div class="market-location">서울 종로구</div>
                                    </div>
                                    <div class="guide-hour">
                                        <div class="hours">영업시간</div>
                                        <div class="card-business-hour">09:00 - 20:00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="market-card-wrapper">
                        <a href="https://www.naver.com" class="market-card">
                            <div class="card-image">
                                <img src="../static/images/market/gwangjang.png">
                                <button class="like-button">
                                    <img src="../static/images/like/like.svg">
                                </button>
                            </div>
                            <!-- 이미지 아래에 정보 -->
                             <!-- 카테고리, 이름, 간단설명, 줄 긋고, 위치, 영업시간 -->
                            <div class="card-info">
                                <div class="card-market-category">농산물</div>
                                <div class="card-market-name">광장시장</div>
                                <div class="card-description">서울의 ~~입니다. ~~를 판매합니다.ddddddddddddddddddddddddd</div>
                                <div class="card-info-line"></div>
                                <div class="card-guide">
                                    <div class="guide-location">
                                        <div class="location">위치</div>
                                        <div class="market-location">서울 종로구</div>
                                    </div>
                                    <div class="guide-hour">
                                        <div class="hours">영업시간</div>
                                        <div class="card-business-hour">09:00 - 20:00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="market-card-wrapper">
                        <a href="https://www.naver.com" class="market-card">
                            <div class="card-image">
                                <img src="../static/images/market/gwangjang.png">
                                <button class="like-button">
                                    <img src="../static/images/like/like.svg">
                                </button>
                            </div>
                            <!-- 이미지 아래에 정보 -->
                             <!-- 카테고리, 이름, 간단설명, 줄 긋고, 위치, 영업시간 -->
                            <div class="card-info">
                                <div class="card-market-category">농산물</div>
                                <div class="card-market-name">광장시장</div>
                                <div class="card-description">서울의 ~~입니다. ~~를 판매합니다.ddddddddddddddddddddddddd</div>
                                <div class="card-info-line"></div>
                                <div class="card-guide">
                                    <div class="guide-location">
                                        <div class="location">위치</div>
                                        <div class="market-location">서울 종로구</div>
                                    </div>
                                    <div class="guide-hour">
                                        <div class="hours">영업시간</div>
                                        <div class="card-business-hour">09:00 - 20:00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="market-card-wrapper">
                        <a href="https://www.naver.com" class="market-card">
                            <div class="card-image">
                                <img src="../static/images/market/gwangjang.png">
                                <button class="like-button">
                                    <img src="../static/images/like/like.svg">
                                </button>
                            </div>
                            <!-- 이미지 아래에 정보 -->
                             <!-- 카테고리, 이름, 간단설명, 줄 긋고, 위치, 영업시간 -->
                            <div class="card-info">
                                <div class="card-market-category">농산물</div>
                                <div class="card-market-name">광장시장</div>
                                <div class="card-description">서울의 ~~입니다. ~~를 판매합니다.ddddddddddddddddddddddddd</div>
                                <div class="card-info-line"></div>
                                <div class="card-guide">
                                    <div class="guide-location">
                                        <div class="location">위치</div>
                                        <div class="market-location">서울 종로구</div>
                                    </div>
                                    <div class="guide-hour">
                                        <div class="hours">영업시간</div>
                                        <div class="card-business-hour">09:00 - 20:00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="market-card-wrapper">
                        <a href="https://www.naver.com" class="market-card">
                            <div class="card-image">
                                <img src="../static/images/market/gwangjang.png">
                                <button class="like-button">
                                    <img src="../static/images/like/like.svg">
                                </button>
                            </div>
                            <!-- 이미지 아래에 정보 -->
                             <!-- 카테고리, 이름, 간단설명, 줄 긋고, 위치, 영업시간 -->
                            <div class="card-info">
                                <div class="card-market-category">농산물</div>
                                <div class="card-market-name">광장시장</div>
                                <div class="card-description">서울의 ~~입니다. ~~를 판매합니다.ddddddddddddddddddddddddd</div>
                                <div class="card-info-line"></div>
                                <div class="card-guide">
                                    <div class="guide-location">
                                        <div class="location">위치</div>
                                        <div class="market-location">서울 종로구</div>
                                    </div>
                                    <div class="guide-hour">
                                        <div class="hours">영업시간</div>
                                        <div class="card-business-hour">09:00 - 20:00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>