<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 나중에헤더 복붙 -->

    <main class="main">
        <!-- 카테고리 -->
        <div class="market-category-section">      
            <div class="category-wrapper">
                <div id="category-container">
                    <div class="region-list">
                        <!-- 서울 -->
                        <div class="category-tab">
                            <div class="tab-header seoul">
                                <div class="tab-name">서울</div>
                                <div class="tab-arrow">▼</div>
                            </div>
                            <div class="tab-button">
                                <div class="dropdown-market all-seoul">전체보기</div>
                                <div class="dropdown-market">무슨시장</div>
                                <div class="dropdown-market">무슨시장</div>
                                <div class="dropdown-market">무슨시장</div>
                                <div class="dropdown-market">무슨시장</div>
                                <div class="dropdown-market">무슨시장</div>
                            </div>
                        </div>

                        <!-- 경기도 -->
                        <div class="category-tab">
                            <div class="tab-header gyeonggi">
                                <div class="tab-name">경기</div>
                                <div class="tab-arrow">▼</div>
                            </div>
                            <div class="tab-button">
                                <div class="dropdown-market">전체보기</div>
                                <div class="dropdown-market">시장1</div>
                                <div class="dropdown-market">시장2</div>
                                <div class="dropdown-market">시장3</div>
                            </div>
                        </div>

                        <!-- 인천 -->
                        <div class="category-tab">
                            <div class="tab-header incheon">
                                <div class="tab-name">인천</div>
                                <div class="tab-arrow">▼</div>
                            </div>
                            <div class="tab-button">
                                <div class="dropdown-market">전체보기</div>
                                <div class="dropdown-market">신포국제시장</div>
                                <div class="dropdown-market">부평깡통시장</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>                    
</body>
</html>