<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 확인</title>
    <link rel="stylesheet" href="check.css">
</head>
<body>
    <main class="MainLayout__Wrapper background">
        <div class="Wrap1 Wrap2">
            <div class="WarrantyDetail__InfoBoxWrappper-sc-am8naa-4 lmnUMH">
                <section class="Project__Intro Wrapper">
                    <a href="/apple">
                        <img alt="사과 이미지" src="https://cdn.onnurigood.com/upfiles/product/auto_main_3981962592.jpg" class="Product_image apple">
                    </a>
                    <div class="Project__ContentsWrapper title">
                        <span clss="Project__Intro shopname">
                           과일
                            <span>|</span>
                           미래타운제1종합시장
                        </span>
                        <a href="/shop">
                           <p class="Project__Title apple2">[FreshFruits] 프리미엄 사과 실속세트 (6과)</p>
                        </a>
                        <div class="Project DetailContainer ">
                            <strong class="MoneyInfo__Account count">
                            수량: 1개
                            </strong>
                               
                        </div>
                    </div>
                    <div class="Project__Container price">
                        53,900원
                    </div>    
                </section>



                <div class="Info_Box_Wrap Box">
                    <div class="Info_Box Header">
                        <p class="Info_Box HeaderTitle">주문자 정보</p>
                    </div>
                    <div class="styled__Info Item">
                        <div class="styled__Info Title">이름</div>
                        <div class="styled__Info ContentWrap">홍길동</div>
                    </div>
                    <div class="styled__Info Item">
                        <div class="styled__Info Title">휴대폰 번호</div>
                        <div class="styled__Info ContentWrap">010-1234-5678</div>
                    </div>
                    <div class="styled__Info Item">
                        <div class="styled__Info Title">이메일 주소</div>
                        <div class="styled__Info ContentWrap">honggildong@email.com</div>
                    </div>
                </div>


                <div class="Info_Box_Wrap Box">
                    <div class="Info_Box Header">
                        <p class="Info_Box HeaderTitle">수령 정보</p>
                    </div>
                    <div class="styled__Info Item">
                        <div class="styled__Info Title">수령 수단</div>
                        <div class="styled__Info ContentWrap">택배</div>
                    </div>
                    <div class="styled__Info Item">
                        <div class="styled__Info Title">주문번호</div>
                        <div class="styled__Info ContentWrap">10009-40405-63525</div>
                    </div>
                    <div class="styled__Info Item">
                        <div class="styled__Info Title">주문일</div>
                        <div class="styled__Info ContentWrap">2026.01.15</div>
                    </div>
                    <div class="styled__Info Item">
                        <div class="styled__Info Title">배송 예정일</div>
                        <div class="styled__Info ContentWrap">2026.01.20</div>
                    </div>   
                </div>



                <div class="Info_Box_Wrap Box">
                    <div class="Info_Box Header">
                        <p class="Info_Box HeaderTitle">배송지 정보</p>
                    </div>
                    <div class="styled__Info Item">
                        <div class="styled__Info Title">받으실분</div>
                        <div class="styled__Info ContentWrap">이순신</div>
                    </div>
                    <div class="styled__Info Item">
                        <div class="styled__Info Title">휴대폰 번호</div>
                        <div class="styled__Info ContentWrap">010-8765-4321</div>
                    </div>
                    <div class="styled__Info Item">
                        <div class="styled__Info Title">주소</div>
                        <div class="styled__Info ContentWrap">서울특별시 강남구 테헤란로 123, 101동 1001호</div>
                    </div>
                    <div class="styled__Info Item">
                        <div class="styled__Info Title">배송 메세지</div>
                       <div class="styled__Info ContentWrap">배송 전 미리 연락해 주세요</div>
                    </div>
                </div>

            <div class="Info_Box_Wrap Box">
                <div class="Info_Box Header">
                        <p class="Info_Box HeaderTitle">결제 정보</p>
                </div>
                <div class="styled__Info Item">
                    <div class="styled__Info Title">결제 수단</div>
                    <div class="styled__Info ContentWrap">무통장입금</div>
                </div>
                <div class="styled__Info Item">
                    <div class="styled__Info Title">주문금액</div>
                    <div class="styled__Info ContentWrap">53,900원</div>
                </div>
                <div class="styled__Info Item">
                    <div class="styled__Info Title">배송비</div>
                    <div class="styled__Info ContentWrap">2,000원</div>
                </div>
                <div class="styled__Info Item">
                    <div class="styled__Info Title">입금은행</div>
                    <div class="styled__Info ContentWrap">카카오뱅크</div>
                </div>
                <div class="styled__Info Item">
                    <div class="styled__Info Title">배송 메세지</div>
                    <div class="styled__Info ContentWrap">배송 전 미리 연락해 주세요</div>
                </div>
            </div>

            <div class="Info_Box_Wrap Box">
                <div class="Info_Box Header">
                        <p class="Info_Box HeaderTitle">수령 정보</p>
                </div>
                <div>
                <img src="qrcode1.png" alt="QR 코드" class="Product_image qrcode">  
                </div>
                <div class="styled__Info Item">
                        <div class="styled__Info Title">수령 수단</div>
                        <div class="styled__Info ContentWrap">QR 코드</div>
                </div>
                <div class="styled__Info Item">
                    <div class="styled__Info Title">주문 상태</div>
                    <div class="styled__Info ContentWrap">결제 완료</div>
                </div>
                <div class="styled__Info Item">
                    <div class="styled__Info Title">주문번호</div>
                    <div class="styled__Info ContentWrap">20240417-000123</div>
                </div>
                <div class="styled__Info Item">
                    <div class="styled__Info Title">결제 일시</div>
                    <div class="styled__Info ContentWrap">2026.01.15</div>
                </div>
                 <div class="styled__Info Item">
                    <div class="styled__Info Title">수령 날짜</div>
                    <div class="styled__Info ContentWrap">2026.01.15</div>
                </div>
            </div>


        </div>
    </main>
</body>
</html>