<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 확인</title>
    <link rel="stylesheet" href="check.css">
</head>
<body>
    <main class="MainLayout__Wrapper-sc-12q9jf-0 fEJXaQ">
        <div class="Container__ContainerComponent-sc-1ql5ckp-0 bOjKOH WarrantyDetail__WarrantyDetailWrapper-sc-am8naa-0 cXHShl">
            <div class="WarrantyDetail__InfoBoxWrappper-sc-am8naa-4 lmnUMH">
                <section class="Project__ProjectIntroWrapper-sc-1gp66lf-3 elvbNb">
                    <a href="/texasbingo">
                        <img alt="홀덤과 빙고의 짜릿한 만남! 텍사스 빙고 프로젝트 이미지" src="https://cdn.onnurigood.com/upfiles/product/auto_main_3981962592.jpg" class="Product_image apple">
                    </a>
                    <div clalss-"Project__ContentsWrapper title">
                        <span clss="Project__Intro shopname">
                            "과일"
                            <span></span>
                            "서울장터"
                        </span>
                        <a href="/texasbingo">
                           <p class="Project__Title apple"> 사과</p>
                        </a>
                        <div class="Project DetailContainer ">
                                <strong class="MoneyInfo__Account price">
                                    "30,000"
                                    "원"
                                </strong>
                                <span class=""
                           </div>
                    </div>    
                </section>
                <div class="InfoBox BoxWrap">
                    <div class="InfoBox Header">
                        <p class="InfoBox HeaderTitle">결제 확인 정보</p>
                    </div></div>
                    </div>
                    <d
                </div>
            </div>
        </div>
    </main>
</body>
</html>