.fEJXaQ {
    background-color: white;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

*, :after, :before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
html {
        font-size: 14px;
    }
body {
    line-height: inherit;
    margin: 0;
}
body {
    font-family: Pretendard;
}
html {
    font-family: sans-serif;
    font-size: 12.5px;
}
:host, html {  
    font-feature-settings: normal;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-variation-settings: normal;
    line-height: 1.5;
    tab-size: 4;
}

.cXHShl {
        padding: 0px 0px 88px;
}
.cXHShl {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 400px;
    padding: 0px 0px 64px;
    overflow-x: hidden;
}
.bOjKOH {
        max-width: 1080px;
        margin: 0px auto;
    }
.bOjKOH {
        max-width: 1160px;
    }
.bOjKOH {
    width: 100%;
}
a, div {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
/*img alt*/
.apple {
    width: 120px;
    margin-right: 24px;
}

.apple {
    width: 100px;
    border-radius: 8px;
    margin-right: 20px;
}
img {
    border: 0;
}
img, video {
    height: auto;
    max-width: 100%;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
*, :after, :before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
a, div {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
a {
    color: inherit;
    text-decoration: inherit;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
.elvbNb {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    user-select: none;
    padding: 24px 0px;
}
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    -webkit-font-smoothing: antialiased;
}
body {
    line-height: inherit;
    margin: 0;
}
body {
    font-family: Pretendard;
}
html {
        font-size: 14px;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
*, :after, :before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}

